/* add background color to header, main, quote, banner, footer */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* styling */
header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto, serif;
}

/* styling */
ul.header-links-list a {
    text-decoration: none;
    cursor: pointer;
    /* padding: 0; */
    /* margin: 0; */
    /* border: 2px solid lightblue; */
}

/* styling */
.hero-secondary-text, .header-links-list a {
    color: #E5E7EB;
    font-size: 18px;
}

/* styling */
button.hero-button, button.cta-button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* styling */
.header-logo {
    font-size: 24px;
}


header {
    font-size: 48px;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.header-links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 20px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text-section, .hero-image-container {
    flex-basis: 300px;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.hero-image {
    border: 2px solid lightblue;

    flex-shrink: 0;
    /* height: 230px; */
    /* width: 500px; */
}

/* debuggging */
/* .hero-section, .hero-section > * {
    border: 2px solid lightblue;
} */


/* starting the content section */

/* styling */
button.cta-button {
    border: 2px solid #F9FAF8;
}

/* styling */
.image-text-container .text {
    color:  grey;
    width: 150px;
}

/* styling */
.info-heading {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    font-family: Roboto, serif;
}

/* styling */
.image-text-container img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

/* styling */
.info-section {
    text-align: center;
    padding-bottom: 100px;
}


/* make the content veritcal flexbox
 * so that info-section, quote-section, cta-section can be centered
 * next make image-text container a flex-box to style the image-text boxes horizontally
 * make blue-banner flex-box to style text-section, cta-button */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    /* font-family: ; */
    padding: 75px 250px;
}

.quote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.quote-container {
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
}

.author-name {
    padding: 10px 40px;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-section {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;

}

.blue-banner {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 40px 100px;

    display: flex;
    gap: 100px;
}

.cta-heading {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}